<div class="row">
    <div class="span12 header-section header-conversation">
        <div id="title">
            Conversation
        </div>
        <div id="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="span12">
            <div class="content">

                <table class="table">
                    <tr><th>FROM</th><th>Subject</th><th>Body</th></tr>
                <% @receipts.each do |m| %>
                    <tr><td><%= m.message.sender.name %><td><%= m.message.subject %></td><td><%= m.message.body %></td></tr>
                <% end %>    
                </table>


                <% if(@receipts.first != nil) %>
                    <%= form_tag("/inbox/send_message", method: "post") do %>
                        <%= label_tag(:message, "Message:") %>
                        <%= text_field_tag(:message) %>
                        <%= hidden_field_tag(:receipt, "#{@receipts.first.id}") %>
                        <%= submit_tag("Send") %>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>
  
