<script type="text/javascript" charset="utf-8">
    App.page = "homepage"
</script>

<div id="slideshow" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
      <% @featured.each_with_index do |ferrari, index| %>
          <% if ferrari.assets.first && ferrari.assets.first.image %>
              <% if(index == 0) %>
              <div class="item active">
                  <%= image_tag(ferrari.assets.first.image.url(:homepage)) %>
                  <div class="carousel-caption">
                      <div class="home-title"><%= ferrari.year.car_year %> | <%= ferrari.car_model.car_model %> | <span class="home-price">$<%= ferrari.price %></span></div>
                      <div class="home-description"><%= ferrari.description %></div>
                  </div>
              
              </div>
              <% else %>
              <div class="item">
                  <%= image_tag(ferrari.assets.first.image.url(:homepage)) %>
                  <div class="carousel-caption">
                      <div class="home-title"><%= ferrari.year.car_year %> | <%= ferrari.car_model.car_model %> | <span class="home-price">$<%= ferrari.price %></span></div>
                      <div class="home-description"><%= ferrari.description %></div>
                  </div>
              </div>
              <% end %>
          <% end %>
      <% end %>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#slideshow" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#slideshow" data-slide="next">&rsaquo;</a>
</div>
<div class="row">
    <div class="span8" id="news">

        <ul class="nav nav-tabs" id="myTab">
          <li class="active disabled"><a href="#news" data-toggle="tab" data-target="news">News</a></li>
          <li class="disabled"><a href="#racing" data-toggle="tab" data-target="racing">Racing</a></li>
          <li class="disabled"><a href="#weekly" data-toggle="tab" data-target="weekly">Weekly</a></li>
        </ul>

        <div class="tab-content news_tab-content">
          <div class="tab-pane active" id="news_content">
              <% #@blogs.each_with_index do |blog, index| %>
                      <%= render 'blogs/blog' ,blog: @blogs_news.first %>
              <% #end %>
          </div>
          <div class="tab-pane" id="racing_content">
              <% #@blogs.each_with_index do |blog, index| %>
                        <%= render 'blogs/blog' ,blog: @blogs_rcng.first %>
                <% #end %>
          </div>
          <div class="tab-pane" id="weekly_content">
              <% #@blogs.each_with_index do |blog, index| %>
                        <%= render 'blogs/blog' ,blog: @blogs_wkly.first %>
                <% #end %>
          </div>
        </div>
    </div>
    <script type="text/javascript" charset="utf-8">
        var active = "news_content";
        $('#myTab li:eq(0)').click(function (e) {
          e.preventDefault();
          $("#"+active).css("display", "none");
          $("#news_content").css("display", "block");
          active = "news_content";
        })

        $('#myTab li:eq(1)').click(function (e) {
          e.preventDefault();
          $("#"+active).css("display", "none");
          $("#racing_content").css("display", "block");
          active = "racing_content";
        })

        $('#myTab li:eq(2)').click(function (e) {
          e.preventDefault();
          $("#"+active).css("display", "none");
          $("#weekly_content").css("display", "block");
          active = "weekly_content";
        })
    </script>

    <div class="span4 ad-container-square">
        <img src="/assets/ad1.png" id="name" />
    </div>

    <div class="span4 ad-container-square">
        <img src="/assets/ad2.png" id="name" />
    </div>
</div>

<div style="overflow:hidden">
    <div class="row" id="forsale-homepage">

    </div>
</div>

