<% provide(:title, "Sign in") %>


<div class="div-login-facebook" style="margin-bottom: 25px; margin-top:10px;">
    <div id="logo">
        <h1 id="">SCUDERIA.COM</h1>
    </div>
    <div class="form light-input">
        
        <%= form_tag sessions_path do %>
        <table class="table">
            <tr><td> <%= text_field_tag :email, params[:email] %></td></tr>
            <tr><td><%= password_field_tag :password %></td></tr>
        </table>
          <%= submit_tag "Sign in" %>
      <% end %>
         
         <p>New user? <%= link_to "Sign up now!", signup_path %> or <a href="/auth/facebook">Sign In with facebook!</a></p>
         
    </div>
</div>

<script type="text/javascript" charset="utf-8">
     $('#email').watermark('Email');
     $('#password').watermark('Password');
</script>