<% if(blog) %>
<div class="span8 blog">
    <div>
        <img src=<%= blog.media_content_url.split("?")[0] %> />
    </div>
    <div id="blog-date">
        <%= blog.pubDate %>
    </div>
    <div id="blog-readmore">
      <a href="<%= blog.link %>" style="color:#fcd112">Read More</a>
    </div>
    <div id="blog-title">
        <%= blog.title %>
    </div>
    <div id="blog-description">
        <%= raw(blog.description) %>
    </div>
</div>

<% end  %>
