<% if(blog) %>
<div class="span8 blog">
    <div>
        <img src=<%= blog.assets[0].image.url(:modal) %> />
    </div>
    <div id="blog-date">
        <%= blog.created_at %>
    </div>
    <div id="blog-readmore">
        <%= link_to("Read More", blog, style: "color:#fcd112") %>
    </div>
    <div id="blog-title">
        <%= blog.title %>
    </div>
    <div id="blog-description">
        <%= blog.body %>
    </div>
</div>

<% end  %>
