<div class="row">
    <div class="span12 header-section header-blog">
        <div id="title">
            Blog
        </div>
        <div id="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
        </div>
        <div id="query">
            <div id="forsale-query-title">
                Browse our blog!
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="blog">
    <div class="row-fluid">
        <div class="span12" id="blog-copy">
            <div id="title">
                Latest Blog News
            </div>
            <div id="description">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.
            </div>
        </div>
        <ul class="thumbnails">
            <% @blogs.each do |blog| %>
              <li class="span4 blog-item" >
                <a href="#" class="thumbnail">
                  <img data-src="holder.js/305x155" src="<%= blog.assets[0].image.url(:list) %>" alt="">
                </a>
                <div id="date">
                    <%= blog.created_at %>
                </div>
                <div id="title">
                    <%= blog.title %>
                </div>
                <div id="description">
                    <%= truncate(blog.body, length: 200, omission: '... (continued)') %>
                </div>
                <span class="avatar">
                    <img src="<%= profile_image(blog.user) %>" /> <%= blog.user.name %>
                </span>
                <div class="line-separator">
                    
                </div>
              </li>
            <% end %>
        </ul>
    </div>
</div>