<div class="row">
    <div class="span12 header-section header-blog">
        <div id="title">
            Blog
        </div>
        <div id="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
        </div>
        <div id="query">
            <div id="forsale-query-title">
                Browse our blog!
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <ul class="thumbnails">
            <% @blogs.each do |blog| %>
              <li class="span4">
                <a href="#" class="thumbnail">
                  <img data-src="holder.js/305x155" src="<%= blog.assets[0].image.url(:list) %>" alt="">
                </a>
                <div id="title">
                    <%= blog.title %>
                </div>
                <div id="title">
                    <%= truncate(blog.body, length: 300, omission: '... (continued)') %>
                </div>
              </li>
            <% end %>
        </ul>
    </div>
</div>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>User</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.title %></td>
    <td><%= blog.body %></td>
    <td><%= blog.user_id %></td>
    <td><%= blog.blogtype %></td>
    <td><%= link_to 'Show', blog %></td>
    <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
    <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Blog', new_blog_path %>
