<h1>Body Types</h1>
<%= will_paginate %>
<table class="table table-striped">
    <% @trims.each do |trim| %>
        <tr><td><%= trim.car_trim %></td>
            <% if current_user.admin? %>
                <td> <%= link_to "delete", trim, method: :delete,
                                              data: { confirm: "You sure?" } %>
                    </td>
                <td> <%= link_to "edit", edit_trim_path(:id => trim.id) %>
                    </td>
              <% end %>
        </tr>
    <% end %>
</table>
    

<%= will_paginate %>