<h1>Listing promo_codes</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Charges</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @promo_codes.each do |promo_code| %>
  <tr>
    <td><%= promo_code.code %></td>
    <td><%= promo_code.charges %></td>
    <td><%= link_to 'Show', promo_code %></td>
    <td><%= link_to 'Edit', edit_promo_code_path(promo_code) %></td>
    <td><%= link_to 'Destroy', promo_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Promo code', new_promo_code_path %>
