<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your Ferrari "<%= @ferrari.car_model.car_model %> - <%= @ferrari.year.car_year %>" has been published</h1>
    <p>
      Hello <%= @user.name %>,
      Your Ferrari <%= @ferrari.car_model.car_model %> - <%= @ferrari.year.car_year %>, (<%= @ferrari.title %>) has been successfully published
      <% if(@ferrari.order.publish_setting == 0) %>
          For One Year
      <% elsif(@ferrari.order.publish_setting == 1) %>
          For 3 months
      <%  else %>
          For 1 Month
      <% end %>
      Head to <a href="http://scuderia.herokuapp.com/myferraris">Scuderia.com</a> to manage your created Ferraris<br/>
      Thanks!
    </p>
    <p>
      -The Scuderia Team
    </p>
  </body>
</html>
