<h1>Transmissions</h1>
<%= will_paginate %>
<table class="table table-striped">
    <% @transmissions.each do |transmission| %>
        <tr><td><%= transmission.name %></td>
            <% if current_user.admin? %>
                <td> <%= link_to "delete", transmission, method: :delete,
                                              data: { confirm: "You sure?" } %>
                    </td>
                <td> <%= link_to "edit", edit_transmission_path(:id => transmission.id) %>
                    </td>
              <% end %>
        </tr>
    <% end %>
</table>
    

<%= will_paginate %>