<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>
      
      <%= f.label :phone %>
      <%= f.text_field :phone %>
      
      <%= f.label :state %>
      <%= select_tag :state, options_for_select(us_states) %> 
      
      <%= f.label :address %>
      <%= f.text_field :address %>
      
      <%= f.label :zip %>
      <%= f.text_field :zip %>
      
      <%= check_box_tag(:is_dealer) %>
      <%= label_tag(:is_dealer, "Dealership") %>
      
      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>