<div class="div-login-facebook" style="margin-bottom: 25px; margin-top:10px;">
    <div id="logo">
        <h1 id="">SCUDERIA.COM</h1>
    </div>
    <div class="form light-input">
        <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
            <table class="table">
                <tr><td><%= f.text_field :name, :placeholder => "Name" %></td></tr>  
                <tr><td><%= f.text_field :email, :placeholder => "Email" %></td></tr> 
                <tr><td><%= f.password_field :password, :placeholder => "Password"  %></td></tr>
                <tr><td><%= f.password_field :password_confirmation, :placeholder => "Password Confirmation"  %></td></tr>
                <tr><td><input type="checkbox" name="agrees" value="terms" class="terms_checkbox">Do you agree to the <a href="/termsofservice">Terms of Service?</a></td></tr>
                <tr><td><input type="submit" name="submit" value="Submit"></td></tr>      
            </table>
        <% end %>
    </div>
</div>