<% provide(:title, @user.name) %>

<script type="text/javascript" charset="utf-8">
    App.page = "userpage";
</script>

<div class="row">
    <div class="span12 header-section header-sellferrari">
            <div id="title">
            <% if(@user == current_user) %>
                My Profile
            <% else %>
                <%= @user.name %>
            <% end %>
        </div>
        <div id="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
        </div>
        <div class="secondary-title">
            <% if(@user == current_user) %>
                Review your profile
            <% else %>
                Contact user
            <% end %>
        </div>
    </div>
</div>


<div class="row-fluid">
    <div class="span2 avatar user_page_avatar">
        <!-- %= gravatar_for @user % -->
        <img src="<%= profile_image(@user) %>" />
    </div>
    <div class="span10 user-title">
        <%= @user.name %>
    </div>
</div>

<div class="row-fluid" style="margin-bottom: 25px;">
    <div class="span2 send-message">
        <span class="msg-icon">
        <% if(@user == current_user) %>
            <i class="icon-user"></i></span><span class="msg-text">
            <a href="/users/<%=@user.id%>/edit">Edit Profile</a>
        <% else %>
            <i class="icon-message"></i></span><span class="msg-text">
            <a href="/inbox/compose?recipient_id=<%=@user.id%>" >Send a message</a>
        <% end %>
         </span>
    </div>
    <div class="span10">
        <table class="table table-striped">
              <tr><td>Name</td><td><%= @user.name %></td></tr>
              <% if(@user.public_email || @user == current_user) %>
              <tr><td>Email</td><td><%= @user.email %>
                  <% if(@user == current_user) %>
                    <% if(@user.public_email) %>
                        (Public)
                    <% else %>
                        (Private)
                    <% end %>
                  <% end %>
              </td></tr> 
              <% end %>
              <% if(@user.public_phone || @user == current_user) %>
              <tr><td>Phone</td><td><%= @user.phone %>
                   <% if(@user == current_user) %>
                      <% if(@user.public_phone) %>
                          (Public)
                      <% else %>
                          (Private)
                      <% end %>
                   <% end %>
              </td></tr>
              <% end %>
              <% if(@user.public_address || @user == current_user) %>
              <tr><td>State</td><td><%= @user.state %>
                   <% if(@user == current_user) %>
                      <% if(@user.public_address) %>
                          (Public address)
                      <% else %>
                          (Private address)
                      <% end %>
                    <% end %>
              </td></tr>
              <tr><td>Address</td><td><%= @user.address %></td></tr>
              <tr><td>Zipcode</td><td><%= @user.zip %></td></tr>
              <% end %>
              <% if(@user.public_dealer || @user == current_user) %>
              <tr><td>Dealership</td><td>
                  <% if(@user.is_dealer) %>
                      YES
                  <% else %>
                      NO
                  <% end %>
                  
                   <% if(@user == current_user) %>
                      <% if(@user.public_dealer) %>
                          (Public)
                      <% else %>
                          (Private)
                      <% end %>
                  <% end %>
              </td></tr>
              <% end %>
              
              <% if(@user == current_user) %>
                <tr><td><i class="icon-facebook_circle" style="font-size:30px;"></i></td><td>
                    <% if(@user.uid) %>
                        SYNCED
                    <% else %>
                        <a href="/auth/facebook">NOT SYNCED</a>
                    <% end %>
                </td></tr>
              <% end %>
              
          </table>
          
          <% if @user == current_user %>
              <div class="span10">
                  <h4>To bookmark a page or remove a bookmark, just click the star.</h4>
                  <ul class="nav nav-pills">
                    <li class="active">
                      <a id="a-bookmark" data-toggle="tooltip"><i class="icon-star" id="icon_bookmark" style="font-size:16px; color:#000000;top:-3px;position:relative;"></i> Bookmarked</a> 
                    </li>
                    <li class="active">
                        <a id="a-bookmark-empty" data-toggle="tooltip"><i class="icon-star_empty" id="icon_bookmark" style="font-size:16px; color:#000000;top:-3px;position:relative;"></i> Not Bookmarked</a>
                    </li>
                    
                    <script type="text/javascript" charset="utf-8">
                        $('#a-bookmark').popover({
                            placement : "top",
                            title : "Bookmark",
                            content: "You'll find this icon on a Ferrari for sale or a Ferrari model, it means the item is bookmarked"
                        });
                        $('#a-bookmark').mouseenter(function(){
                            $('#a-bookmark').popover("show");
                        })
                        $('#a-bookmark').mouseleave(function(){
                            $('#a-bookmark').popover("hide");
                        })
                        $('#a-bookmark-empty').popover({
                            placement : "top",
                            title : "Unbookmark",
                            content: "You'll find this icon on a Ferrari for sale or a Ferrari model, it means the item is NOT bookmarked"
                        });
                        
                        $('#a-bookmark-empty').mouseenter(function(){
                            $('#a-bookmark-empty').popover("show");
                        })
                        $('#a-bookmark-empty').mouseleave(function(){
                            $('#a-bookmark-empty').popover("hide");
                        })
                    </script>
                  </ul>
                  <% if !@bookmarks.blank? %>
                      <% count = 0 %>
                      <p>Below are the pages that you have bookmarked.</p>
                      <br />
              </div>
              <div class="span10">
                  <table class="table table-striped table-hover" id="bookmarks-table">
                      <tr>
                          <th>Title</th>
                          <th>Year</th>
                          <th>Model</th>
                          <th>Type</th>
                          <th>Timestamp</th>
                      </tr>
                      <% @bookmarks.each do |bookmark| %>
                            <% count = count + 1 %>
                            
                            <tr>
                                <td><%= link_to_bookmark(count, bookmark) %></td>
                                <td><%= get_model_from_bookmark(bookmark).car_year_str %></td>
                                <td><%= get_model_from_bookmark(bookmark).car_model_str %></td>
                                <td><%= print_bookmark_type(bookmark.model_type_id) %></td>
                                <td>Added <%= timeago_tag bookmark.created_at, :nojs => true %></td>
                            </tr>
                        <% end %>
                  </table>
                  <script type="text/javascript" charset="utf-8">
                    $("#bookmarks-table tr").click(function(e){
                        console.log(e);
                        var a = $(e.currentTarget).find("a");
                        if(a.attr("href") != undefined) {
                            window.location.href = a.attr("href");
                        }
                    });
                  </script>
                  <% else %>
                    You currently have no items bookmarked.
                  <% end %>
              </div>
          <% end %>
          
    </div>
</div>

<% if @user != current_user %>

<div style="overflow:hidden">
    <div class="row" id="forsale-homepage">

    </div>
</div>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      // Handler for .ready() called.
      if(App.page != undefined) { 
          if(App.page=="userpage") {
              App.ferrarisModel = new App.FerrarisModel();
              App.carsView = new App.CarsView({el : $('#forsale-homepage'), model: App.ferrarisModel});
              App.ferrarisModel.loadCollection({user_id : <%= @user.id %>});
          }
      }
      
    });
</script>

<% else %>

<div class="row">
    <div class="span2 send-message">
        <span class="msg-icon"><i class="icon-information_white"></i></span><span class="msg-text">My Ferraris</span>
    </div>
<% if @user.ferraris.any? %>
    <%= render partial: 'ferraris/ferrari_list_item', collection: @user.ferraris %>
<% end %>
</div>

<% end %>
