<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  
  <div class="span12">
      <table class="table table-striped">
          <tr><td>Name</td><td><%= @user.name %></td></tr>
          <tr><td>Email</td><td><%= @user.email %></td></tr>
          <tr><td>Phone</td><td><%= @user.phone %></td></tr>
          <tr><td>State</td><td><%= @user.state %></td></tr>
          <tr><td>Address</td><td><%= @user.address %></td></tr>
          <tr><td>Zipcode</td><td><%= @user.zip %></td></tr>
          <tr><td>Dealership</td><td>
              <% if(@user.is_dealer) %>
                  YES
              <% else %>
                  NO
              <% end %>
          </td></tr>
      </table>
  </div>
  <div class="span12">
        <a href="/inbox/compose?recipient_id=<%=@user.id%>" />Message this user</a> 
    </div>
      
</div>
<div class="row">
<% if @user.ferraris.any? %>
    <%= render partial: 'ferraris/ferrari', collection: @user.ferraris %>
<% end %>
</div>
