<p id="notice"><%= notice %></p>

<p>
  <b>New:</b>
  <%= @order.new %>
</p>

<p>
  <b>Ferrari:</b>
  <%= @order.ferrari_id %>
</p>

<p>
  <b>Ip address:</b>
  <%= @order.ip_address %>
</p>

<p>
  <b>First name:</b>
  <%= @order.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @order.last_name %>
</p>

<p>
  <b>Card type:</b>
  <%= @order.card_type %>
</p>

<p>
  <b>Card expires on:</b>
  <%= @order.card_expires_on %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
