<h4><%= ferrari.title %></h4>

<div> <%= ferrari.car_model.car_model %> </div>
<div> <%= ferrari.trim.car_trim %> </div>
<div> <%= ferrari.year.car_year %> </div>
<div> <%= ferrari.engine.name %> </div>
<div> <%= ferrari.transmission.name %> </div>
<div> <%= ferrari.interior_color %> </div>
<div> <%= ferrari.mileage %> </div>
<div> <%= ferrari.price %> </div>
<div> <%= ferrari.title %> </div>
<div> <%= ferrari.vin %> </div>
<div> <%= ferrari.color %> </div>