<div class="ferrari-line span12">
    <div class="span12 details">
        <div class="span4 thumbnails">
            <%= 
                begin
                    image_tag(ferrari.assets[0].image.url(:modal), { data: {toggle: "modal", target: "#myModal#{ferrari.id}"}})
                rescue 
                    puts "Image not found"
                end
             %>
        </div>
        <div class="span8 ferrari-list-details">
            <div id="top-row">
                <div id="left-col">
                    Year:
                </div>
                <div id="mid-col">
                    <%= ferrari.year.car_year %>
                </div>
                <div id="right-col">
                    Contact Buyer
                </div>
            </div>
            <div id="mid-row">
                <div id="left-col">
                    Model:
                </div>
                <div id="mid-col">
                    <%= ferrari.car_model.car_model %>
                </div>
                <div id="right-col">
                    Share on
                </div>
            </div>
            <div id="bot-row">
                <div id="left-col">
                    Description:
                </div>
                <div id="desc-col">
                    <%= ferrari.description %>
                </div>
            </div>
            
            
        </div>
        
        <!-- div class="span8 text-details ferrari" data-id=<%= ferrari.id %>>
            <table class="table table-striped">
                <tr><td>Year</td><td style="min-width:100px;"> </td></tr>
                <tr><td>Model</td><td></td></tr>
                <tr><td>Title</td><td><%= link_to ferrari.title, ferrari %></td></tr>
            </table>
        </div -->
    </div>
    
</div>

<!-- MODAL PART -->

<div id="myModal<%= ferrari.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%= ferrari.title %></h3>
  </div>
  <div class="modal-body">
      <div id="myCarousel<%= ferrari.id %>" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
            <% ferrari.assets.each_with_index do |asset, index| %>
                <% if(index == 0) %>
                <div class="item active">
                    <%= image_tag(asset.image.url(:modal)) %>
                </div>
                <% else %>
                <div class="item">
                    <%= image_tag(asset.image.url(:modal)) %>
                </div>
                <% end %>
            <% end %>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel<%= ferrari.id %>" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel<%= ferrari.id %>" data-slide="next">&rsaquo;</a>
      </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
