<% unless @ferrari.assets.length == 0 %>
<div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
        <% @ferrari.assets.each_with_index do |asset, index| %>
            <% if(index == 0) %>
            <div class="item active">
                <%= image_tag(asset.image.url(:slideshow)) %>
            </div>
            <% else %>
            <div class="item">
                <%= image_tag(asset.image.url(:slideshow)) %>
            </div>
            <% end %>
        <% end %>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<% end %>

<div class="row-fluid ferrari-view" >
    <div class="span3 ferrari-view-model" >
        <span class="bold">Model:</span> <%= @ferrari.car_model.car_model %>
    </div>
    <div class="span2 ferrari-view-year">
        <span class="bold">Year:</span> <%= @ferrari.year.car_year %>
    </div>
    <div class="span2 ferrari-view-seller">
        <span class="bold">Seller:</span> <%= @ferrari.user.name %>
    </div>
    <div class="span3 offset2 ferrari-view-price">
        <span class="bold">Price:</span> $<%= @ferrari.price %>
        
        <% if current_user %>
            <a href="/bookmarks/toggle?url=<%=h request.fullpath %>" id="bookmark_toggle" class="ajax_get">
            <% if bookmarked?(current_user.id, @ferrari.id, request.fullpath) %>
                <i class="icon-star" id="icon_bookmark" style="font-size:16px; color:#fcd112;"></i>
            <% else %>
                <i class="icon-star_empty" id="icon_bookmark" style="font-size:16px; color:#fcd112;"></i>
            <% end %>
            </a>
        <% end %>

        <script type="text/javascript" charset="utf-8">
            $(".ajax_get").click(function(e){
                e.preventDefault();
                $.ajax({
                  url: e.currentTarget.href,
                }).done(function() {
                  console.log("done");
                  swapBookmarkImage();
                });

            })
        </script>
    </div>
</div>

<div class="row-fluid ferrari-view">
    <div class="span9 ferrari-view-description">
        <p><span class="bold">Description:</span> </p>
        <p><%= @ferrari.description %></p>
    </div>
    <div class="span3 ferrari-view-options">
        <div class="ferrari-view-cntsell">
            <span class="bold">Contact Seller</span>
        </div>
        <div class="ferrari-view-share">
            <span class="bold">Share On:</span>
            <span id="facebookbtn-link" class="share-button facebook" href="http://www.facebook.com/sharer/sharer.php?u=http://scuderia.herokuapp.com/ferraris/<%= @ferrari.id %>"><i class="icon-facebook"></i></span>
            <span id="twitterbtn-link" class="share-button twitter" href="http://twitter.com/share?text=Check out this Ferrari <%= @ferrari.car_model.car_model %> from <%= @ferrari.year.car_year %>&hashtags=scuderia,ferrari&url=http://scuderia.herokuapp.com/ferraris/<%= @ferrari.id %>"><i class="icon-twitter"></i></span>
        </div>
    </div>
</div>

<div class="row-fluid ferrari-specs-header">
    <div class="span9 ferrari-specs-title">
        Specifications
    </div>
    <div class="span3 ferrari-specs-full">
        Full Specifications
    </div>
</div>


<div class="row-fluid ferrari-specs-table">
    <div class="span9">
        <table class="table table-striped">
            <tr><td><span class="bold">Year</span></td><td><%= @ferrari.year.car_year %></td></tr>
            <tr><td><span class="bold">Model</span></td><td><%= @ferrari.car_model.car_model %></td></tr>
            <tr><td><span class="bold">Engine</span></td><td><%= @ferrari.engine.name %></td></tr>
            <tr><td><span class="bold">Transmission</span></td><td><%= @ferrari.transmission.name %></td></tr>
            <tr><td><span class="bold">Color</span></td><td><%= @ferrari.color %></td></tr>
            <tr><td><span class="bold">Interior Color</span></td><td><%= @ferrari.interior_color %></td></tr>
            <tr><td><span class="bold">Mileage</span></td><td><%= @ferrari.mileage %></td></tr>
            <tr><td><span class="bold">Price</span></td><td><%= @ferrari.price %></td></tr>
            <tr><td><span class="bold">VIN</span></td><td><%= @ferrari.vin %></td></tr>
        </table>
    </div>
</div>


<div id="ferrari_show_controls">
    <% if current_user?(@ferrari.user) %>
       <%= link_to "Delete", @ferrari, class: "btn", method: :delete,
                                    data: { confirm: "You sure?" },
                                    title: @ferrari.title %>
        <%= link_to "Edit", edit_ferrari_path(:id => @ferrari.id), class: "btn" %>
    <% end %>
</div>