<div class="row">
  <div class="span6 offset3">
    <%= form_for(@ferrari) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :year_id %>
      <% if(@ferrari.car_model_id.blank?) %>
          <%= f.select :year_id, options_from_collection_for_select(@years, :id, :car_year) , {:include_blank => true, :default => nil} %>
      <% else %>
          <%= f.select :year_id, options_from_collection_for_select(@years, :id, :car_year) , {:default => @ferrari.year_id} %>
      <% end %>
      <div id="car_model">
          <% if(@ferrari.car_model_id.blank?) %>
                <%= hidden_field("", :car_model_id) %>
          <% else %>
                <%= label_tag :car_model_id,"Car Model" %>
                <%= f.select :car_model_id, options_from_collection_for_select(@car_models, :id, :car_model, @ferrari.car_model_id) %>
          <% end %>
          
      </div>
      
      <div id="engine-tran-trim">
          <% if(@ferrari.engine_id.blank?) %>
                <%= hidden_field("", :engine_id) %>
          <% else %>
            <%= label_tag :engine_id,"Car Model" %>
            <%= f.select :engine_id, options_from_collection_for_select(@engines, :id, :name, @ferrari.engine_id)  %>
          <% end %>
          
          <% if(@ferrari.transmission_id.blank?) %>
            <%= hidden_field("", :transmission_id) %>
          <% else %>
            <%= label_tag :transmission_id,"Car Model" %>
            <%= f.select :transmission_id, options_from_collection_for_select(@transmissions, :id, :name, @ferrari.transmission_id) %>
          <% end %>
          
          <% if(@ferrari.trim_id.blank?) %>
            <%= hidden_field("", :trim_id) %>
          <% else %>
            <%= label_tag :trim_id,"Car Model" %>
            <%= f.select :trim_id, options_from_collection_for_select(@trims, :id, :car_trim, @ferrari.trim_id) %>
          <% end %>
      </div>
      
      <%= f.label :title %>
      <%= f.text_field :title %>
      
      <%= f.label :color %>
      <%= f.text_field :color %>
      
      <%= f.label :interior_color %>
      <%= f.text_field :interior_color %>
      
      <%= f.label :mileage %>
      <%= f.text_field :mileage %>

      <%= f.label :vin %>
      <%= f.text_field :vin %>
      
      <%= f.label :price %>
      <%= f.text_field :price %>
      
      <%= f.label :description %>
      <%= f.text_area :description %>
      
      <div class="newPaperclipFiles">

              <%= f.fields_for :assets do |asset| %>

                 <% if asset.object.new_record? %>
                       <%= asset.file_field :image %>
                 <% end %>

             <% end %>

      </div>

      <div class="existingPaperclipFiles">

           <%= f.fields_for :assets do |asset| %>

                <% unless asset.object.new_record? %>

                      <div class="thumbnail">
                              <%= link_to( image_tag(asset.object.image.url(:thumb)), asset.object.image.url(:original) ) %>
                              <%= asset.check_box :_destroy %>
                      </div>

                <% end %>        

           <% end %>
      </div>
      <% if(@ferrari.new_record?) %>
          <%= f.submit "Create", class: "btn btn-large btn-primary" %>
      <% else %>
          <%= f.submit "Edit", class: "btn btn-large btn-primary" %>
      <% end %>
  <% end %>
  </div>
</div>