<script type="text/javascript">
   App.page = "planSelect";
</script>

<div class="row">
    <div class="span12 header-section header-sellferrari">
        <div id="title">
            Sell Your Ferrari
        </div>
        <div id="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
        </div>
        <div class="secondary-title">
            Three Simple Steps
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span4 padding-sellyour border-unselected">
        Enter Vehicle Details
    </div>
    <div class="span4 padding-sellyour border-unselected">
        Review Your Detailed Ad
    </div>
    <div class="span4 padding-sellyour border-selected">
        Confirmation
    </div>
</div>


<div class="row-fluid" id="confirm-icons">
    <div class="span4 padding-sellyour confirm-button">
        <h1>Platinum</h1>
        <div class="confirm-icon-container">
            <i data-id="0" class="icon-trophy"></i>
        </div>
        <h1 class="price">$250</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugi
        <p>
    </div>
    <div class="span4 padding-sellyour confirm-button">
        <h1>Gold</h1>
        <div class="confirm-icon-container">
            <i data-id="1" class="icon-check_circle"></i>
        </div>
        <h1 class="price">$150</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugi
        <p>
    </div>
    <div class="span4 padding-sellyour confirm-button">
        <h1>Value Pack</h1>
        <div class="confirm-icon-container">
            <i data-id="2" class="icon-heart"></i>
        </div>
        <h1 class="price">$90</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugi
        <p>

    </div>
</div>

<div class="row-fluid">
    <div class="span12 span4 padding-sellyour">
        Review Your Detailed Ad
    </div>
</div>

<div class="row-fluid">
    <div class="span12 span4 padding-sellyour">
        Enter the vehicle information that you want to show prospective buyers on your ad "Vehicle Information" and "Contact Information" are the only required sections but the more details and photos you provide, the more shoppers will be attracted to your ad.
    </div>
</div>



<%= form_for @order do |f| %>

<div class="row-fluid sell-ferrari-form">
<div class="span12 padding-sellyour order">
<% @order.errors.full_messages.each do |msg| %>
  <p class="error"><%= msg %></p>
<% end %>
</div>

<div class="row-fluid sell-ferrari-form order">

    <div class="span4 padding-sellyour">

        <%= f.label :first_name %><br />
        <%= f.text_field :first_name %>

        <%= f.label :last_name %><br />
        <%= f.text_field :last_name %>

        <%= f.label :card_number %><br />
        <%= f.text_field :card_number %>

    </div>
    <div class="span4 padding-sellyour">
        <%= f.label :card_verification, "Card Verification Value (CVV)" %><br />
        <%= f.text_field :card_verification %>

        <%= f.label :card_type %><br />
        <%= f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]] %>

        <%= f.label :card_expires_on %><br />
        <%= f.date_select :card_expires_on, :with_css_classes => true, :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :add_month_numbers => true %>

    </div>
    <div class="span4 padding-sellyour" id="promo-column">
        <%= f.label :promo_code %><br />
        <input type="text" name="promo_code" id="promo_code" />
        <input type="hidden" name="ferrari_id"  value="<%= @ferrari.id %>" />
        <input type="hidden" name="publish_setting" id="publish_setting" value="<%= @ferrari.id %>" />
        <div id="process-promo" class="btn btn-large btn-primary">Process promo code</div>
        <hr />
        Total
        <hr />
        <div id="total-container"><b><span>$usd: </span><span id="total-value">0.00</span></b></div>
    </div>
</div>

<div class="row-fluid sell-ferrari-form">
    <div class="span12 padding-sellyour">
        <input type="submit" id="for-sale-proceed" class="btn btn-large btn-primary" value="Process" />
    </div>
</div>

<% end %>



<script type="text/javascript" charset="utf-8">
    $(function(){
        $("#for-sale-proceed").on("click", function(){
            window.location.href = "/ferraris/<%= @ferrari.id %>/publish"
        })
    })
</script>
