<% provide(:meta_title, @ferrari.car_model_str) %>
<% provide(:meta_year, @ferrari.car_year_str) %>
<% provide(:meta_description, @ferrari.description) %>
<% provide(:meta_image, @ferrari.assets_urls()[0][:modal]) %>

<% unless @ferrari.assets.length == 0 %>
<div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
        <% @ferrari.assets.each_with_index do |asset, index| %>
            <% if(index == 0) %>
            <div class="item active">
                <%= image_tag(asset.image.url(:slideshow)) %>
            </div>
            <% else %>
            <div class="item">
                <%= image_tag(asset.image.url(:slideshow)) %>
            </div>
            <% end %>
        <% end %>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<% end %>

<table class="table table-striped">
    <tr><td>Year</td><td><%= @ferrari.year.car_year %></td></tr>
    <tr><td>Model</td><td><%= @ferrari.car_model.car_model %></td></tr>
    <tr><td>Trim</td><td><%= @ferrari.trim.car_trim %></td></tr>
    <tr><td>Engine</td><td><%= @ferrari.engine.name %></td></tr>
    <tr><td>Transmission</td><td><%= @ferrari.transmission.name %></td></tr>
    <tr><td>Color</td><td><%= @ferrari.color %></td></tr>
    <tr><td>Interior Color</td><td><%= @ferrari.interior_color %></td></tr>
    <tr><td>Mileage</td><td><%= @ferrari.mileage %></td></tr>
    <tr><td>Price</td><td><%= @ferrari.price %></td></tr>
    <tr><td>VIN</td><td><%= @ferrari.vin %></td></tr>
</table>
<div>
    <h3><%= @ferrari.title %></h3>
    <p><%= @ferrari.description %></p>
</div>


<% if current_user?(@ferrari.user) %>
   <%= link_to "delete", @ferrari, method: :delete,
                                data: { confirm: "You sure?" },
                                title: @ferrari.title %>
    <%= link_to "edit", edit_ferrari_path(:id => @ferrari.id) %>
<% end %>