<h1><%= @ferrari.title %></h1>

<div> <%= @ferrari.car_model.car_model %> </div>
<div> <%= @ferrari.trim.car_trim %> </div>
<div> <%= @ferrari.year.car_year %> </div>
<div> <%= @ferrari.engine.name %> </div>
<div> <%= @ferrari.transmission.name %> </div>
<div> <%= @ferrari.interior_color %> </div>
<div> <%= @ferrari.mileage %> </div>
<div> <%= @ferrari.price %> </div>
<div> <%= @ferrari.title %> </div>
<div> <%= @ferrari.vin %> </div>
<div> <%= @ferrari.color %> </div>


    <%= form_for (@ferrari) do |f| %>

        <%= f.fields_for :ferrari_images do |builder| %>

            <%= builder.label :caption, "Image Caption" %>
            <%= builder.text_field :caption %>

            <%= builder.label :photo, "Image File" %>
            <%= builder.file_field :photo %>

        <% end %>
        
        <%= f.submit "Submit" %>
    <% end %>
    
