<div class="span12">
    <span class="results"> Results <%= fr %> to <%= to %></span>
</div>

<div class="span12 paginations">
<% var aclass = "" %>
<% for(i=0;i<=total;i++) { %>
    <% if(i == page) { %>
        <span class="page-button dopage page-selected" data-page=<%= i %> ><%= i %></span>
    <% } else { %>
        <span class="page-button dopage" data-page=<%= i %> ><%= i %></span>
    <% } %>
<% } %>
<span class="page-button doleft"><i class="icon-arrow_left"></i></span>
<span class="page-button doright"><i class="icon-arrow_right"></i></span>
</div>

<% _.each(items, function(item) { %>
<div class="span4 ferrari-model-item" style="height:300px;" data-id=<%= item.id %>>
    <div>
        <div class="ferrari-model-overlay">
            <i class="icon-magnifying"></i>
        </div>
        <% if(item.assets_urls.length > 0) { %>
            <img src="<%= item.assets_urls[0].list %>" style="height:226px">
        <% } else { %>
            <img class="ferrari-img" src="http://www.examiner.com/images/blog/replicate/EXID9044/images/resized_steve_mcqueen_ferrari_stolen_jalopnik.jpg" style="height:226px">
        <% } %>
    </div>
    <div class="collection-item-details">
        <span id="facebookbtn-link" class="share-button facebook" href="http://www.facebook.com/sharer/sharer.php?u=http://scuderia.herokuapp.com/ferraris/<%= item.id %>"><i class="icon-facebook"></i></span><span id="twitterbtn-link" class="share-button twitter" href="http://twitter.com/share?text=Check out this Ferrari <%= item.car_model %> from <%= item.car_year_str %>&hashtags=scuderia,ferrari&url=http://scuderia.herokuapp.com/ferraris/<%= item.id %>"><i class="icon-twitter"></i></span>
        <a class="model-link" href="http://<%= window.location.host %>/car_models/<%= item.id %>"><%= item.car_model %></a> | 
        <%= item.car_year_str %>
    </div>        
</div>
<% }) %>
