<% provide(:title, 'New year') %>
<h1>Add new Ferrari year</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@year) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :car_year %>
      <%= f.text_field :car_year %>
      <%= f.submit "Add new year", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>