<div class="row">
    <div class="span12 header-section header-collection">
        <div id="title">
            Collection
        </div>
        <div id="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
        </div>
        <div id="query">
            <div id="forsale-query-title">
                Search For:
            </div>
            <div id="filter-year">
                <form method="get" accept-charset="utf-8">
                    <input type="text" name="from" value="Year Fr" id="year-fr" class="fromto"> 
                    <input type="text" name="to" value="Year To" id="year-to" class="fromto">
                    <p><input type="submit" value="Search"></p>
                </form>
            </div>

            <div id="errorMessage" style="display:none;">
                IMPORTANT: From should be less than To.
            </div>
        </div>
    </div>
</div>

<% if @paginate %>
    <%= will_paginate %>
<% end  %>   
<div class="row">
    <div class="span12">
        
    </div>
</div>
<div class="row">
    <% @car_models.each do |car_model| %>
    <div class="span4" style="height:300px;">
        <div>
            <% if car_model.generic_images.length != 0 %>
                <%= image_tag(car_model.generic_images[0].image.url(:small)) %>
            <% else %>
            <img src="http://www.examiner.com/images/blog/replicate/EXID9044/images/resized_steve_mcqueen_ferrari_stolen_jalopnik.jpg" style="height:226px">
            <% end %>
        </div>
        <div>
            <%= link_to car_model.car_model, car_model %> | <%= link_to car_model.year.car_year, car_model.year %>
        </div>
        <div>
            
        </div>
            <% if signed_in? %>
                <% if current_user.admin? %>
                    <%= link_to "delete", car_model, method: :delete,
                                                  data: { confirm: "You sure?" },
                                                  car_model: car_model %>
                        | <%= link_to "edit", edit_car_model_path(:id => car_model.id) %>
                <% end %>
            <% end %>
    </div>
        
    <% end %>
</div>
<% if @paginate %>
    <%= will_paginate %>
<% end  %>