<% provide(:title, 'New Model') %>
<h1>Add new Ferrari Model</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@carmodel) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :car_model %>
      <%= f.text_field :car_model %>
      
      <%= f.label :year_id %>
      <%= collection_select(:car_model, :year_id, Year.all, :id, :car_year) %>
      
      <%= f.submit "Add new model", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>