<div id="back-yellow">
    
</div>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container header">
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Ferraris For Sale", ferraris_path %></li>
          <li><%= link_to "Sell Your Ferrari", new_ferrari_path %></li>
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              History <b class="caret"></b>
            </a>
              <ul class="dropdown-menu">
                  <li><%= link_to "Collection", car_models_path %></li>
                  <li><%= link_to "Enzo", myferraris_path %></li>
                  <li><%= link_to "Company", current_user %></li>
              </ul>
          </li>
          <% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "My Ferraris for sale", myferraris_path %></li>
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to raw("<i class='icon-inbox'></i>Inbox"), "/inbox" %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
            
            <% if current_user.admin? %>
                <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Admin <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><%= link_to "Add new year", new_year_path %></li>
                    <li><%= link_to "Add new Model", new_car_model_path %></li>
                    <li><%= link_to "Add new Body Type", new_trim_path %></li>
                    <li><%= link_to "Add new Engine", new_engine_path %></li>
                    <li><%= link_to "Add new Transmission", new_transmission_path %></li>
                </ul>
                </li>
           <% end %>
              
            
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
            <li class="search-li">
                <span class="search-box-icon-container"><i class="icon-magnifying search-box-icon"></i>
                </span>
            <form class="navbar-search">
              <input type="text" class="search-query" placeholder="Search">
            </form>
            </li>
        </ul>
      </nav>
    </div>
  </div>
</header>